<header id="header" class="sticky-style-2">
  <div id="top-social">
    <ul>
      <li><a href="https://www.facebook.com/jazzhistorydatabase" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/jazzhistorydatabase/" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
      <!-- <li><a href="https://twitter.com/_JHDB_" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li> -->
      <li><a href="mailto:contact@jazzhistorydatabase.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">contact us</span></a></li>
    </ul>
  </div>
  <!-- #top-social end -->
  <div class="container clearfix"> 
    
    <!-- Logo
				============================================= -->
    <div id="logo"> <a href="https://legacy.jazzhistorydatabase.com/index.php" class="standard-logo"><img src="https://legacy.jazzhistorydatabase.com/images/jhdb-logo.png" alt="Jazz History Database Logo"></a> <a href="https://legacy.jazzhistorydatabase.com/index.php" class="retina-logo" data-dark-logo="https://legacy.jazzhistorydatabase.com/images/jhdb-logo.png"><img src="https://legacy.jazzhistorydatabase.com/images/jhdb-logo.png" alt="Jazz History Database Logo"></a> </div>
    <!-- #logo end --> 
    
  </div>
  <div id="header-wrap"> 
    
    <!-- Primary Navigation
				============================================= -->
    <nav id="primary-menu" class="style-2">
      <div class="container clearfix"> 
        
        <!--						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>-->
        
        <ul>
          <!--<li><a href="https://legacy.jazzhistorydatabase.com/musicians.php">
            <div>INTERVIEWS</div>
            </a></li>
			<li><a href="https://legacy.jazzhistorydatabase.com/musicians.php">
            <div>PERFORMANCES</div>
            </a></li>-->
			<li><a href="https://legacy.jazzhistorydatabase.com/musicians.php">
            <div>MUSICIANS</div>
            </a></li>
          <li><a href="https://legacy.jazzhistorydatabase.com/events.php">
            <div>EVENTS</div>
            </a></li>
          <li><a href="https://legacy.jazzhistorydatabase.com/collections.php">
            <div>COLLECTIONS</div>
            </a></li>
        </ul>
        
        <!-- Top Search
						============================================= -->
        <div id="top-search"> <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="search.php" method="get">
            <input type="text" name="zoom_query"  class="form-control" value="" placeholder="Type Search Text &amp; Hit Enter..">
          </form>
        </div>
        <!-- #top-search end --> 
        
      </div>
    </nav>
    <!-- #primary-menu end --> 
    
  </div>
  <!-- Legal Modal -->
  <div class="modal-on-load enable-cookie" data-target="#JHDB_terms"></div>
  <div class="modal1 mfp-hide" id="JHDB_terms">
      <div class="block divcenter" style="display: block; background-color: rgb(51, 51, 51); top: 5%; left: 5%; position: fixed; width: 90%; height: 90%; border: 2px solid rgb(25, 171, 255); overflow: auto;"> 
        <div class="center" style="color:#FFF;">  
          <h3 style="color:#FFF"><strong>About the Jazz History Database</strong></h3>
          <p>
              The Jazz History Database (JHDB) is a service of Worcester Polytechnic
              Institute (WPI) and the Massachusetts Association for Jazz Education
              with the generous support of Dorothy Weiss.
              All materials have been processed and edited by faculty and students
              of WPI in Worcester, MA where the JHDB is hosted.
              All items are shared with the permission of contributors
              and are edited to remove copyright protected content.
          </p>
          <p>The content in this site is provided for non-profit personal or
          scholarly
          use. No content may be resold, republished, or otherwise used for profit
          without the express permission of its respective copyright owner. </p>
          <button class="btn btn-md" type="button" data-toggle="collapse" style="padding:10px; background-color:#19AFFF; color:#FFF;" data-target="#fullAgreement">View full agreement</button>
          <div id="fullAgreement" class="collapse">
            <p>The JHDB is a "secure" application. This means that it can be accessed
              only by persons who have agreed to the terms of use stated below.	    </p>
            <p>Video and audio recordings provided by the JHDB include the "streaming
              play" function, which allows users to play the media selections, but not
              a
              "download" function, so materials may not be copied to your computer.	    </p>
            <p>All material provided by the JHDB is provided only and exclusively for
              informational value and for the personal enjoyment of the users of the
              JHDB, and/or for the "fair use" for educational (archival) purposes
              contemplated by applicable copyright statutes, and not for republication
              or re-transmission of the text/images/audio/video files in any print,
              audio, video or electronic application now known or later to be
              developed.
              Since the Media Library involves volumes of copyright-protected text,
              photos, audio files and video clips, and since this material is the
              intellectual property of its various authors, the JHDB may be accessed
              only by individuals who have acknowledged certain limitations of use,
              particularly as may involve the sharing of this actual and intellectual
              property with others. Before any use of the JHDB occurs, and as a
              necessary precondition for any such use, the prospective user ("the
              User")
              thus acknowledges, agrees and covenants as follows:	    </p>
            <p>(1) that contributors grant the JHDB non-exclusive permission to display
              the material provided.	    </p>
            <p>(2) that all elements of the JHDB including text, images, audio and
              video
              files ("Material") embodied therein have been copyright protected by the
              authors of this Material, or must be treated as though such copyright
              protection actually exists.	    </p>
            <p>(3) that any commercial use of this Material for benefit or profit,
              including the live streaming of audio and/or video files at public
              functions and/or performances is prohibited. </p>
            <p>(4) that any republication or re-transmission of this Material in any
              print, audio, video or electronic application now known or later to be
              developed, is prohibited.	    </p>
            <p>(5) that any files downloaded from the JHDB are to remain in the
              possession and under the control of the User at all times. Specifically,
              the User agrees not to email these files as attachments to other
              individuals, not to copy and save these files on computers belonging to
              others, and not to post them on or make them available to any public or
              private "P2P" file-sharing networks such as or similar to Limewire(tm),
              Shareaza(tm), Bearshare(tm), Ares(tm), Morpheus(tm), or BitTorrent(tm).	    </p>
            <p>(6) that the User agrees not to employ any mechanical or electronic
              device
              such as a "robot" or "bot" or "scraper" or any other such device in
              order
              to bulk capture (download) the content of the JHDB, or to misuse the
              Media
              Library in any manner, either aided electronically or not, as might deny
              the use of this application to others.	    </p>
            <p>(7) the User acknowledges that any apparent infraction of the terms of
              this Agreement will be met by immediate legal recourse.	    </p>
            <p>(8) the User acknowledges that the JHDB is a service of the
              Massachusetts
              Association for Jazz Education ("MAJE"), and that the terms of this
              Agreement shall be governed by the laws of the Commonwealth of
              Massachusetts.	    </p>
          </div>
          <p>The User signals his/her agreement to the above terms, and his/her
	    acceptance of these terms, by any subsequent use of the JHDB. </p>
        </div>
        <div class="section center nomargin" style="padding:30px; background-color:#515151; border:2px solid rgb(25, 171, 255);">
          <a class="btn btn-lg" onclick="$.magnificPopup.close();return false;" href="#" style="background-color: green; color: #FFF;">Agree</a> |
	        <a class="btn btn-lg" onclick="location.href='about:blank'" href="#" style="background-color: red; color: #FFF;">Do Not Agree</a>
      </div>
      </div>

      
      <script type="text/javascript" src="https://legacy.jazzhistorydatabase.com/scripts/legal.js"></script>

  </div>
</header>
<!-- #header end -->