<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7589884-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push( arguments );
		}
		gtag( 'js', new Date() );
		gtag( 'config', 'UA-7589884-1' );
	</script>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="author" content="JazzHistoryDatabase"/>

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/style.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/dark.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/font-icons.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/animate.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/magnific-popup.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/responsive.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/JHDB.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- Document Title
	============================================= -->
	<title>Jazz History Database</title>
	</head>

	<body>

<!-- Document Wrapper
	============================================= -->

<div id="wrapper" class="clearfix">

<!-- Header
		============================================= --> 

{{header}} 

<!-- Page Title
		============================================= --> 
<!-- Intro -->
<style>
			#page-title {
				padding: 0 0;
			}
			
			img.resize {
				width: auto;
				/* you can use % */
				height: 300px;
			}
			
			a.resize {
				max-height: 300px;
				height: 300px;
			}
			
			li>a {
				cursor: pointer;
			}
		</style>

<!-- Content
		============================================= -->
<section id="content">
<br>

<!-- Collection nav bar start-->
<div id="page-menu">
      <div id="page-menu-wrap">
    <div class="container clearfix">
          <div class="menu-title" style="cursor:pointer;" onclick="goToByScroll('section-bio')">Philadelphia Branch</div>
          <nav>
        <ul>
              <li> <a onclick="goToByScroll('bio')">
                <div>Collections</div>
                </a> </li>
            </ul>
      </nav>
          <div id="page-submenu-trigger"><i class="icon-reorder"></i> </div>
        </div>
  </div>
    </div>
<!-- Collection nav bar end --> 
<!-- Content Wrap starts -->
<div class="content-wrap">
<!-- Bio -->
<div class="container clearfix">
      <div class="fancy-title title-bottom-border" id="bio">
    <center>
          <h1>Philadelphia Branch </h1>
        </center>
  </div>
      <!-- Insert bio -->
	<div class = "col_three_fifth bottommargin-sm">
	<div>
    
        <div class="col_two_fifth bottommargin-sm"> <img src=""> </div>
        <div class="col_three_fifth bottommargin-sm col_last">
        <p class="bio"> text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>
       
    
    
  </div>
		<div class = "col_full">
						<div class="fancy-title" id="highlights">
							<h3> Highlights</h3>	
						</div>
						<div class="col_two_fifth bottommargin-sm"> <img src=""> </div>
         				<div class="col_three_fifth bottommargin-sm col_last">
       					 <p class="bio"> text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
						</div>
				
						<div class="col_three_fifth bottommargin-sm col_last">
       					 <p class="bio"> text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
						</div>
						<div class="col_two_fifth bottommargin-sm"> <img src=""> </div>
	</div>
		
	</div>
						
	
    
      
      <!-- Recent Additions -->
      
      <div class="col_two_fifth bottommargin-sm col_last">
    <div class="sidebar-widgets-wrap">
          <div class="fancy-title title-bottom-border">
        <h3>Recent Additions:</h3>
      </div>
          <div class="list-group"> 
        <!-- Carlos Odria --> 
        <!-- Added 20 April 2019 --> 
        <a href="./lorraine-feather" class="list-group-item">
            <h4 class="list-group-heading"><i class="i-plain icon-thumbs-up"></i>Lorraine Feather</h4>
            <p class="list-group-item-text">Lorraine Feather’s work has been heard on numerous records, in films, and on television.
                Her words have been sung by Patti Austin, Kenny Rankin, Phyllis Hyman, Jessye Norman, and numerous jazz artists.
                She was the lyricist for Disney's Dinosaurs, The Jungle Book 2, and The Princess Diaries 2; MGM's All
                Dogs Go to Heaven and Babes and Toyland; and Hasbro's Candy Land and My Little Pony.
            </p>
        </a>
        <!-- Jerry Wilfong --> 
        <!-- Added 14 March 2019 --> 
        <a href="http://www.jazzhistorydatabase.com/archives/jerry-wilfong/" class="list-group-item">
            <h4 class="list-group-heading"><i class="i-plain icon-thumbs-up"></i>Jerry Wilfong</h4>
            <p class="list-group-item-text">Jerry Wilfong is a fist-call bass player for many musicians living in Central 
          New England. He performs in many styles from Fusion to Straight Ahead, and is a favorite collaborator with 
          several poets.</p>
            </a> 
        <!-- Fred Taylor --> 
        <!-- Added 17 February 2019 --> 
        <a href="http://www.jazzhistorydatabase.com/archives/fred-taylor/" class="list-group-item">
            <h4 class="list-group-heading"><i class="i-plain icon-thumbs-up"></i>Fred Taylor</h4>
            <p class="list-group-item-text">Legendary Jazz impresario Fred Taylor had been booking jazz performances in New England for several decades. He has obviously contributed greatly to the shaping of the Jazz Scene in New England.</p>
            </a> <a href="recent-additions.php" class="list-group-item active">
            <p class="list-group-item-text" style="text-align: center;"><i><strong>VIEW ALL COLLECTIONS</strong></i></p>
            </a> </div>
          <div id="sidebar-about" style="margin-top:20px;"> </div>
        </div>
    <div class="clear"></div>
  </div>
      
      <!-- Footer
		============================================= --> 
      
      <!--{{footer}}--> 
      
    </div>
<!-- #wrapper end --> 

<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
	============================================= --> 
<script type="text/javascript" src="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/jquery.js"></script> 
<script type="text/javascript" src="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/plugins.js"></script> 
<script>
		function goToByScroll( id ) {
			$( 'html,body' ).animate( {
				scrollTop: $( "#" + id ).offset().top - 115
			}, 'slow' );
		}
	</script> 
<!-- Footer Scripts
	============================================= --> 
<script type="text/javascript" src="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/functions.js"></script>
</body>
</html>