<!--Collection Sub Page-->
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7589884-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push( arguments );
		}
		gtag( 'js', new Date() );
		gtag( 'config', 'UA-7589884-1' );
	</script>

	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="author" content="JazzHistoryDatabase"/>
	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/style.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/dark.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/font-icons.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/animate.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/magnific-popup.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/responsive.css" type="text/css"/>
	<link rel="stylesheet" href="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/JHDB.css" type="text/css"/>



	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- Document Title
	============================================= -->
	<title>Jazz History Database</title>

</head>

<body>

	<!-- Document Wrapper
	============================================= -->

	<div id="wrapper" class="clearfix">



		<!-- Header
		============================================= -->

		{{header}}
		<!-- Page Title
		============================================= -->
		<!-- Intro -->
		<style>
			#page-title {
				padding: 0 0;
			}
			
			.img-border {
				border: 2px solid #29ADFC;
				/* Added a border to each image for aesthetic */
			}
			
			.resize {
				width: 30%;
				/* you can use % */
				/*height: 300px;*/
				max-height: 30%;
				height: 30%;
			}
			
			a.resize {
				max-height: 30%;
				height: 30%;
			}
			
			li>a {
				cursor: pointer;
			}
		</style>


		<!-- Content
		============================================= -->
		<section id="content">

			<br>

			<!-- Collection nav bar start-->
			<div id="page-menu">
				<div id="page-menu-wrap">
					<div class="container clearfix">
						<div class="menu-title" style="cursor:pointer;"><a href="index.php" style="color:white;">Name Collection</a>
						</div>
						<nav>
							<ul>
								<li>
									<a href="index.php">
										<div>Biography</div>
									</a>
								</li>
								<li>
									<a href="images.php">
										<div>Images</div>
									</a>
								</li>
								<li class="current">
									<a href="videos.php">
										<div> Videos </div>
									</a>
								</li>
							</ul>
						</nav>
						<div id="page-submenu-trigger"><i class="icon-reorder"></i>
						</div>
					</div>
				</div>
			</div>
			<!-- Collection nav bar end -->
			<!-- Content Wrap starts -->
			<div class="content-wrap">
				<div class="container clearfix">
					<!-- Title of the page -->
					<div class="fancy-title title-bottom-border">
						<h1 id="title">Name of Video Page</h1>
					</div>
					<div class="container clearfix" style="padding-top: 10px;">
						<!--Add A 2 Column Grid Portfolio Here-->
						<div id="portfolio" class="portfolio grid-container portfolio-2 clearfix">

							<!-- Next Video -->
							<article class="portfolio-item pf-media pf-icons">
								<div class="portfolio-image" style="height:90%; width:90%;">
									<iframe width="854" height="480" src="https://www.youtube.com/embed/9Y817xvoDUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

								</div>
								<div class="portfolio-desc" style="width:60%;">
									<h3>Caption 1</h3>
								</div>
							</article>
							<!-- Next Video -->
							<article class="portfolio-item pf-media pf-icons">
								<div class="portfolio-image" style="height:90%; width:90%;">
									<iframe width="854" height="480" src="https://www.youtube.com/embed/Je35dD1aewY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
								<div class="portfolio-desc" style="width:60%;">
									<h3>Caption 2</h3>
								</div>
							</article>


						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- #content end -->

		<!-- Footer
		============================================= -->

		{{footer}}




	</div>
	<!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/jquery.js"></script>
	<script type="text/javascript" src="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/plugins.js"></script>
	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="http://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/functions.js"></script>

</body>
</html>